# dotfiles
alias dots="cd $DOTFILES"

# show human friendly numbers and colors
alias df='df -h'
alias du='du -h -d 2'

# override rm -i alias which makes rm prompt for every action
alias rm='nocorrect rm'

# general commands
alias top="btop"

# bat is installed as batcat on Debian
if command -v bat >/dev/null 2>&1; then
  alias cat="bat"
elif command -v batcat >/dev/null 2>&1; then
  alias cat="batcat"
fi

# zsh & oh-my-zsh
alias reload=". $HOME/.zshrc"
alias r="reload"

# docker
alias dc="docker"
alias dcc="docker compose"
