# dotfiles
alias dots="cd $DOTFILES"

# directories
alias dev="cd $CODE"
alias desktop="cd $DESKTOP"
alias downloads="cd $DOWNLOADS"

alias dlist="dirs -v | head -10"

# directories shortcuts
alias dv="dev"
alias dt="desktop"
alias dl="downloads"

# show human friendly numbers and colors
alias df='df -h'
alias du='du -h -d 2'

# override rm -i alias which makes rm prompt for every action
alias rm='nocorrect rm'

# general commands
alias top="htop"

# zsh & oh-my-zsh
alias reload=". $HOME/.zshrc"
alias r="reload"

# docker
alias dc="docker"
alias dcc="docker compose"

# bundle
alias bi="bundle install"
alias bx="bundle exec"
